@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
 *{
     margin: 0;
     padding: 0;
}
 h1 {
     /*float: left;*/
     color: #b43315;
     text-align: center;
     padding: 72px 0 16px 0;
     text-decoration: none;
     font-size: 72px;
     position: relative;
     line-height: 25px;
     border-radius: 4px;
     font-family: 'Playfair Display SC', serif;
}
 h2 {
     /*float: left;*/
     color: #b43315;
     /*text-align: center;*/
     padding: 16px 0 16px 0;
     /*text-decoration: none;*/
     font-size: 42px;
     position: relative;
     /*line-height: 25px;*/
     /*border-radius: 4px;*/
     font-family: 'Playfair Display SC', serif;
 }
 h3 {
    /*float: left;*/
    color: #b43315;
    /*text-align: center;*/
    padding: 16px 0 16px 0;
    text-decoration: none;
    font-size: 36px;
    position: relative;
    /*line-height: 25px;*/
    /*border-radius: 4px;*/
    font-family: 'Playfair Display SC', serif;
}

 /*h1:hover{*/
     /*color:#04B4AE;*/
     /*transition: all 0.5s ease-in-out;*/
/*}*/
 h4{
     font: 14px Roboto;
     color: #204156;
}
 header, section, footer, aside, nav, article, hgroup{
     display: block;
}
body{
    /*background: -webkit-radial-gradient(circle, #A9D0F5, #FFFFFF);*/
}
 .main{
     max-width: inherit;
     min-width: fit-content;
     min-height: 100vh;
	  /*background: #A9D0F5;*/
    /* fallback for old browsers */
     /*background: -webkit-linear-gradient(top, #A9D0F5, #8DC26F);*/
     /*background: -moz-linear-gradient(top, #A9D0F5, #8DC26F);*/
     /*background: -o-linear-gradient(top, #A9D0F5, #8DC26F);*/
     /*background: linear-gradient(to bottom, #A9D0F5, #FFFFFF);*/
     font-family: "Roboto", sans-serif;
     /*-webkit-font-smoothing: antialiased;*/
     /*-moz-osx-font-smoothing: grayscale;*/
     background: white;
     /*background: linen;*/
     /*background: floralwhite;*/
     /*background: antiquewhite;*/
}

 .home-page {
     /*min-height: 100% !important; !* browser fill *!*/
     /*height: auto;*/
     /*margin-top: 100px;*/
     /*margin-bottom: 60px;*/
     width: 100%;
     height: 100%;
     text-align: center;
 }

.home-page-image {
    -webkit-box-orient: horizontal;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    /*animation: slide-up 1.5s;*/
}
.home-page-image img {
    border-radius: 50%;
    max-width: 75%;
    margin: 0 auto;
}
.home-page-image:after {
    content: "";
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(255,255,255,0) 15%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

 /*
 * Headers
  */
 .header {
     /*padding-top: 30px;*/
     /*padding-bottom: 30px;*/
     /*padding: 20px 4%;*/
     /*margin: 50px 0px;*/
     width: inherit;
     height: 60px;
     /*font-family: "Roboto", sans-serif;*/
     display: flex;
     flex-flow: row;
     /*border-bottom: 1px solid #204156;*/
     /*background: #2a2a2a;*/
     background: #1d1d1d;
     /*backgorund: #777;*/
     padding: 20px 3%;
 }

/* Style the header links */
.header-logo {
     float: left;
     color: #b43315;
     text-align: center;
     padding: 16px 0 16px 0;
     text-decoration: none;
     font-size: 50px;
     position: relative;
     line-height: 25px;
     border-radius: 4px;
     font-family: 'Playfair Display SC', serif;
}

.logo {
    display: none;
    background-image: url("../img/Logo.png");
    height: 100%;
    width: content-box;
}

.logo-2 {
    background-image: url("../img/User-Profile.png");
    height: 36px;
    padding-top: 13px;
    width: content-box;
}



/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
/*@media screen and (max-width: 500px) {*/
    /*.header a {*/
        /*float: none;*/
        /*display: block;*/
        /*text-align: left;*/
    /*}*/
    /*.header-right {*/
        /*float: none;*/
    /*}*/

    /*.header .header-logo {*/
        /*display: none;*/
    /*}*/
/*}*/

 .tab{
     font-family: "Roboto", sans-serif;
}
 .contact-btn {
     display:inline;
     font-size: 18px;
     /*color: #CEE3F6;*/

     float: left;
     /*color: white;*/
     text-align: center;
     padding: 4px 0;
     text-decoration: none;
     line-height: 25px;
     border-radius: 4px;

     margin-top: 13px;
 }

.contact-btn a:hover {
    color: #4d4d4d;
    background-color: #9ec3dd;
    /*background-color: #A9D0F5;*/
    font-size: 18px;
    /*border: 1px solid #CEE3F6;*/

    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
 .contact-btn a {
     color: #000000;
     /*color: #FFFFFF;*/
     background-color: #A9D0F5;
     /*background-color: #873209;*/
     padding: 9px 18px;
     border: 1px solid #204156;
     position: relative;
     text-decoration: none;
     line-height: 25px;
     border-radius: 4px;
}

 .top_menu input {
     padding: 8px 18px;
     border: 1px solid #204156;
     width: 100%;
     color: #000000;
 }

 .filter-btn {
     float: left;
     font-size: 15px;
     font-family: "Roboto", sans-serif;
}
 .filter-btn a {
     margin-right: 30px;
     margin-top: 30px;
     padding: 8px 18px;
     border: 1px solid #204156;
}
 .filter-btn a:hover {
     color: #04B4AE;
     font-size: 20px;
     border: 1px solid #CEE3F6;
     cursor: pointer;
     transition: all 0.5s ease-in-out;
}
 .top_menu{
     width: 350px;
     color: #04B4AE;
     margin: auto;
     text-align: center;
     padding-bottom: 100px;
     height: 1px;
}
 .top_menu li{
     list-style: none;
     display: inline-block;
     padding: 8px;
     font: 16px Roboto;
     cursor: pointer;
     width: 80px;
}
 .top_menu li:hover{
     color: #43A047;
     font: 20px Roboto;
     border-top: 2px solid #43A047;
     transition: all 0.5s ease-in-out;
}

 .the_aside{
     width: 100px;
     margin-bottom:50px;
     font: 14px Roboto;
}
 .words{
     font: 14px Roboto;
}
 .the_footer{
     text-align: center;
     padding: 30px;
     margin-top: 50px;
     border-top: 2px solid #04B4AE;
     color: #b3b3b3;
}

@media (min-width: 1200px) {
    .pic-container{
        max-width: 300px;
        max-height: 300px;
        width: 20vw;
        height: 20vw;
    }
}

@media (max-width: 1200px) {
    .pic-container{
        width: 25vw;
        height: 25vw;
    }

    .slider {
        display: none;
    }
}

@media (max-width: 900px) {
    .pic-container{
        width: 33.33vw;
        height: 33.33vw;
    }
}

@media (max-width: 600px) {
    .pic-container{
        width: 50vw;
        height: 50vw;
    }

    .header {
        padding: 10px 3%;
    }


    .react-autosuggest__container {
        position: relative;
        float: right;
    }
}

/*@media screen and (max-width: 500px) {*/
    /*.pic-container{*/
        /*width: 50vw;*/
        /*height: 50vw;*/
        /*!*width: 50%;*!*/
        /*!*width: calc(100% / 2);*!*/
    /*}*/

    /*.header {*/
        /*!*padding-top: 30px;*!*/
        /*!*padding-bottom: 30px;*!*/
        /*padding: 15px 25px;*/
    /*}*/
/*}*/

@media (max-width: 750px) {

    .sort_buttons {
        display: none;
    }
}

 .pic {
     margin: 12px;
     /*padding: 50px;*/
     background-size: cover;
     /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
     overflow: hidden;
     position: absolute;
     top: 0; bottom: 0; left: 0; right: 0;
     object-fit: cover;
}

 .pic img {
     object-fit: cover;
 }

 .pic-container {
     position: relative;
     overflow: hidden;
 }

 .pic-container {
 }

 .pic-1{
     background-image: url("../img/1.jpg");
}
 .pic-2{
     background-image: url("../img/2.jpg");
}
 .pic-3{
     background-image: url("../img/3.jpg");
}
 .pic-4{
     background-image: url("../img/4.jpg");
}
 .pic-5{
     background-image: url("../img/5.jpg");
}
 .pic-6{
     background-image: url("../img/6.jpg");
}
 .pic-7{
     background-image: url("../img/7.jpg");
}
 .pic-8{
     background-image: url("../img/8.jpg");
}
 .pic-9{
     background-image: url("../img/9.jpg");
}
 .pic-10{
     background-image: url("../img/10.jpg");
}
 .pic-11{
     background-image: url("../img/11.jpg");
}
 .pic-12{
     background-image: url("../img/12.jpg");
}
 .pic-13{
     background-image: url("../img/13.jpg");
}
 .pic-14{
     background-image: url("../img/14.jpg");
}
 .pic-15{
     background-image: url("../img/15.jpg");
}
 .text-wrapper:hover{
     display:inline-block;
     width: 100%;
     height: 100%;
}
 .description{
     display:inline-block;
     position: relative;
     width: 100%;
     height: 100%;
     opacity: 0;
}
 .description:hover{
     display:inline-block;
     color: #000000;
     background-color: rgba(255, 255, 255, 0.3);
     font: 30px Alex brush;
     opacity: 1;
     transition: all 0.5s ease-in-out;
}
 .login-page {
     width: 360px;
     padding: 8% 0 0;
     margin: auto;
}
 .edit-user {
     width: 360px;
     padding: 8% 0 0;
     margin: auto;
}
 .form {
     position: relative;
     z-index: 1;
     background: #ffffff;
     max-width: 360px;
     margin: 0 auto 100px;
     padding: 45px;
     text-align: center;
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
 .form input {
     font-family: "Roboto", sans-serif;
     outline: 0;
     background: #f2f2f2;
     width: 100%;
     border: 0;
     margin: 0 0 15px;
     padding: 15px;
     box-sizing: border-box;
     font-size: 14px;
     height: 47px
}
 .form button {
     font-family: "Roboto", sans-serif;
     text-transform: uppercase;
     outline: 0;
     background: #04B4AE;
     width: 100%;
     border: 0;
     padding: 15px;
     color: #FFFFFF;
     font-size: 14px;
     /*-webkit-transition: all 0.3 ease;*/
     transition: all 0.3s ease;
     cursor: pointer;
}
 .form button:hover,.form button:active,.form button:focus {
     background: #CEE3F6;
     color: #04B4AE;
     border: 1px solid #04B4AE;
}
 .form .message {
     margin: 15px 0 0;
     color: #b3b3b3;
     font-size: 12px;
}
 .form .message-two {
     margin: 10px 0 0;
     color: #04B4AE;
     font: 35px Alex brush;
     text-shadow:rgb(100, 100, 100) 3px 3px 5px;
}
 .form .message a {
     color: #04B4AE;
     text-decoration: none;
}
 .form .register-form {
     display: block;
}
 .container {
     position: relative;
     z-index: 1;
     max-width: 300px;
     margin: 0 auto;
}
 .container:before, .container:after {
     content: "";
     display: block;
     clear: both;
}
 .container .info {
     margin: 50px auto;
     text-align: center;
}
 .container .info h1 {
     margin: 0 0 15px;
     padding: 0;
     font-size: 36px;
     font-weight: 300;
     color: #1a1a1a;
}
 .container .info span {
     color: #4d4d4d;
     font-size: 12px;
}
 .container .info span a {
     color: #000000;
     text-decoration: none;
}
 .container .info span .fa {
     color: #EF3B3A;
}
 body {
    /*background: #A9D0F5;
    /* fallback for old browsers */
     /*background: -webkit-radial-gradient(center, circle, #A9D0F5, #FFFFFF);*/
     background: -webkit-radial-gradient(circle, #A9D0F5, #FFFFFF);
    /*background: -moz-linear-gradient(right, #A9D0F5, #8DC26F);
     background: -o-linear-gradient(right, #ffffff, #8DC26F);
     background: linear-gradient(to left, #A9D0F5, #8DC26F);
     font-family: "Roboto", sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
    8*/
}
.incorrect {
     margin: 15px 0 0;
     color: red;
     font-size: 12px;
}
 .arrow1{
     color: #04B4AE;
     font-size:50px;
     display: inline-block;
     /*margin: 10px;*/
     /*padding-top: 30px;*/
     text-decoration: none;
     float: left;
     /*margin-top: 340px;*/

 }
.arrow1 a{
    color: #04B4AE;
    text-decoration: none;


}
.arrow2{
    color: #04B4AE;
    font-size:50px;
    display: inline-block;
    /*margin: 10px;*/
    /*padding-top: 30px;*/
    text-decoration: none;
    float: right;
    /*margin-top: 340px;*/
}
.arrow2 a{
    color: #04B4AE;
    text-decoration: none;

}
.picName{
    font: 50px Alex brush;
    padding-top: 8px;
}
.picDescription{
    display: block;
    text-align: center;
    font-family: "Roboto", sans-serif;
    position: relative;
    color: #000000;
    max-width: 50%;
    margin: 0 auto;
}

.pic_main_section{
    max-width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    display: block;
}

.picView{
    position: relative;
    display: inline-block;
    background-size: cover;
    max-width: 90%;
    max-height:100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    /*overflow: hidden;*/
}

.picFrame{
    /*position: relative;*/
    height: 100%;
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
    /*overflow: hidden;*/
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 0%);
}

.modal_content {
    max-height:100%;
    overflow-y: scroll;
}

.right {
    -ms-transform: rotate(-45deg); /* IE 9 */
    -ms-transform-origin: 0 0; /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari 3-8 */
    -webkit-transform-origin: 0 0; /* Safari 3-8 */
    transform: rotate(-45deg);
    transform-origin: 0 0;
    right: 1.5%;
}

.left {
    -ms-transform: rotate(135deg); /* IE 9 */
    -ms-transform-origin: 0 0; /* IE 9 */
    -webkit-transform: rotate(135deg); /* Safari 3-8 */
    -webkit-transform-origin: 0 0; /* Safari 3-8 */
    transform: rotate(135deg);
    transform-origin: 0 0;
    left: 3.5%;
}



.search-box {
    width: 100%;
    /*width: available;*/
    /*max-width: 100%;*/
    /*margin: 0 20px;*/
    /*width: auto;*/

    /*text-align: center;*/
    float: right;
    padding: 14px 2.5%;
    /*text-decoration: none;*/
    /*font-size: 23px;*/
    /*font-weight: bold;*/
    /*width: 300px;*/
    /*line-height: 25px;*/
    /*border-radius: 4px;*/
    /*border: 1px solid white;*/
    /*min-width: 110px;*/
    /*display: flex;*/
    display: inline-flex;
    height: 36px;
}

.react-autosuggest__container {
    position: relative;
    float: right;
    /*float: left;*/
    /*max-width: 71%;*/
    width: 100%;
    /*width: auto;*/
    /*display: block;*/
    /*width: inherit;*/
    /*width: ;*/
    /*border: 1px solid white;*/
    /*width: 240px;*/
    /*padding-right: 39px;*/
    margin-left: -20px;
    margin-right: 40px;

    /*padding-left: 80px;*/
    /*width: 100%;*/
    /*overflow:hidden;*/
}

.react-autosuggest__input {
    /*width: 100%;*/
    /*float: right;*/
    width: 100%;
    height: 14px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    /*border: 1px solid #aaa;*/
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: none;
    background-color: transparent;
    color: white;
    /*border-radius: 4px;*/
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: background-color .3s;
}

.react-autosuggest__input--focused {
    outline: none;
    width: 100%;
    background-color: white;
    color: black;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /*width: 100%;*/
}

.react-autosuggest__suggestions-container {
    display: none;
    width: 100%;
    /*max-width: 75%;*/
    /*margin-left: -42px;*/
    /*margin-right: -42px;*/
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 35px;
    /*width: 280px;*/
    /*width: 100%;*/
    float: right;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 270px;
    max-height: fit-content;
    overflow-y: auto;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.gallery{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    display: inline-block;
    width: 100%;
    padding-top: 12px;
}
.gallery .toolbar {
    display: none;
    flex-flow: row;
    position: relative;
    margin: 50px 0 40px 0;
    width: 100%;
}
.images {
    /*margin: 0 5%;*/
    /*width: 100%;*/

    display: -webkit-box;
    margin: auto;
    text-align: center;
    max-width: 1500px;

    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

.sort_buttons {
    /*display: none;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.sort_buttons * {
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 5px;
    font: 14px Roboto;
}

.slider {
    -webkit-appearance: none;
    width: 250px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    position: absolute;
    top: 50%;
    right: 65px;
    transform: translate(-0%, -50%);
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /*background: #4CAF50;*/
    background: #7badf5;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /*background: #4CAF50;*/
    background: #7badf5;
    cursor: pointer;
}

.upload-button {
    display: none;
    position: relative;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    width: 40px;
    margin: 14px 24px 12px 0;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 6px;
    /*top: 5px;*/
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 4px;
}

.dropdown-content a:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    position: absolute;
    top: -8px;
    right: 9px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}



.select-style {
    float: right;
    display: inline-block;
    width: 51px;
    min-width: 51px;
    height: inherit;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
    margin-right: 20px;
    background-color: transparent;
    color: lightgrey;
    /*background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    /*background-image: url(...);   !* add custom arrow *!*/
}

.select-style select {
    width: 100%;
    text-align: center;
    height: 100%;
    padding: 10px 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: none;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
    background-color: lightgrey;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.select-style select:focus {
    outline: none;
    text-align: center;
}