body {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-family: 'Playfair Display SC', serif;
}

h1, h2, h3, h4, h5, h6, .header-logo {
    color: #b43315;
}

a:link {
    text-decoration: none;
}
    a:link *{
        text-decoration: none;
    }

.main{
    max-width: inherit;
    min-width: fit-content;
    min-height: 100vh;
}

.home-page {
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
}
    .eras {
        width: 80vw;
        display: inline-block;
        text-align: center;
        margin:0 auto;
    }

    .eras > div {
        text-align: center;
        display: inline-block;
        box-sizing: border-box;
        width: 16vw;
        height: 16vw;
        border: 1px solid black;
    }

    .eras > div > div {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

/*
* Headers
 */
.header {
    width: inherit;
    display: flex;
    flex-flow: row;
    background: #1d1d1d;
    padding: .5em 3%;
    height: 3em;
}
    .header-logo {
        float: left;
        font-size: 2em;
        position: relative;
    }

/*
* Search
 */
.search-box {
    width: 100%;
    max-width: 100%;
    z-index: 4;
    float: right;
    position: relative;
    display: inline-flex;
    height: 2em;
    margin: .5em .5em .5em 2em;
}

.search-icon {
    position: absolute;
    right: 0;
    height: inherit;
    color: #eee;
    font-size: 2em;
    margin: 0 auto;
}

.search-box * {
    opacity: 1;
    z-index: 4;
}

.search-box .react-autosuggest__container {
    position: absolute;
    float: right;
    right: 0;
    width: 300px;
    margin: 0 auto;
    max-width: inherit;
    box-sizing: border-box;
}

.react-autosuggest__input {
    cursor: pointer;
    float: right;
    /*background-color: red;*/
    /*width: 100px;*/
    width: 0;
    box-sizing: border-box;
    height: 44px;
    padding: 0 1.5em;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
    background-color: transparent;
    color: #999;
    border: none;
    border-radius: 4px;

    transition: width .3s, background-color .3s;
    -moz-transition: width .3s, background-color .3s; /* Firefox 4 */
    -webkit-transition: width .3s, background-color .3s; /* Safari and Chrome */
    -o-transition: width .3s, background-color .3s; /* Opera */
    -ms-transition: width .3s, background-color .3s; /* Explorer 10 */
}

.react-autosuggest__input--focused {
    outline: none;
    cursor: auto;
    width: 100%;
    background: #1d1d1d;
    color: white;

    transition: width .3s, background-color .3s;
    -moz-transition: width .3s, background-color .3s; /* Firefox 4 */
    -webkit-transition: width .3s, background-color .3s; /* Safari and Chrome */
    -o-transition: width .3s, background-color .3s; /* Opera */
    -ms-transition: width .3s, background-color .3s; /* Explorer 10 */
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
    width: 100%;
    float: right;
    background-color: black;
    color: #999;
    box-shadow: 0px 00px 33px 1px #1d1d1d;
    margin-right: 30px;

    /*box-sizing: border-box;*/
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 48px;
    float: right;
    background-color: #1d1d1d;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 270px;
    /*margin-left: -39px;*/
    max-height: fit-content;
    overflow-y: auto;
    z-index: 5;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}




.settings-icon {
    color: #eee;
    font-size: 2em;
    height: inherit;
    text-decoration: none;
}

.spin-right {
    -webkit-animation-name: spin-l;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: spin-l;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-name: spin-l;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: ease-in-out;
    /*-o-transition: rotate(180deg);*/
}

@-moz-keyframes spin-l {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(180deg); }
}
@-webkit-keyframes spin-l {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(180deg); }
}
@keyframes spin-l {
    from {transform:rotate(0deg);}
    to {transform:rotate(180deg);}
}

.spin-left {
    -webkit-animation-name: spin-r;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: spin-r;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-name: spin-r;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: ease-in-out;
    /*-o-transition: rotate(180deg);*/
}

@-moz-keyframes spin-r {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-180deg); }
}
@-webkit-keyframes spin-r {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-180deg); }
}
@keyframes spin-r {
    from {transform:rotate(0deg);}
    to {transform:rotate(-180deg);}
}

.dropdown {
    position: relative;
    height: inherit;
    display: inline-block;
}

.dropdown-content {
    display: block;
    position: absolute;
    left: -1em;
    text-align: center;
    /*min-width: max-content;*/
    width: 4em;
    height: 0;
    z-index: 1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    background-color: #1d1d1d;
    box-shadow: 0 0 33px 1px #1d1d1d;
    overflow: hidden;

    transition: height 0.5s linear;
    -moz-transition: height 0.5s linear; /* Firefox 4 */
    -webkit-transition: height 0.5s linear; /* Safari and Chrome */
    -o-transition: height 0.5s linear; /* Opera */
    -ms-transition: height 0.5s linear; /* Explorer 10 */
}

.dropdown-content a {
    color: #999;
    padding: 15px 0;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    height: 92px;
    transition: height 0.5s linear;
    -moz-transition: height 0.5s linear; /* Firefox 4 */
    -webkit-transition: height 0.5s linear; /* Safari and Chrome */
    -o-transition: height 0.5s linear; /* Opera */
    -ms-transition: height 0.5s linear; /* Explorer 10 */
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}