<!doctype html>
<html lang="en">
<head>
</head>
<meta charset="utf-8" />
	<title>Create an account</title>
	<link rel="stylesheet" href="main.css">
	
<body>
<div class="edit-user">
  <div class="form">
    
	<form class="register-form">
	  <p class="message-two">Create an account</p>
	  <br>
	  <input type="name" placeholder="first name"/>
	  <input type="name" placeholder="last name"/>
      <input type="text" placeholder="email"/>
	  <input type="password" placeholder="new pssword"/>
      <input type="password" placeholder="renter the password"/>
      <button>create</button>
    </form>
  
  </div>
</div>
</body>

</html>


