<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
	<title>Home</title>
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<div class="home-page">
	<div class="home">
	<header class="header" >
		<h1>CKM</h1>
	</header>
	
	<nav class="menu">
		<ul>
			<li>Nav1</li>
			<li>Nav2</li>
			<li>Nav3</li>
		</ul>
	</nav>
	<div class="div">
	<section class="section">
		<article>
			<header>
				<hgroup>
					<h1>Title of ArticleTitle of ArticleTitle of ArticleTitle of ArticleTitle of ArticleTitle of Article</h1>
					<h2>Subtitle for Article!</h2>
				</hgroup>
			</header>
			<p>This is the greatest article</p>
			<footer>
			Written by Lu
			</footer>
		</article>
		
		<article>
			<header>
				<hgroup>
					<h1>Title of Article2</h1>
					<h2>Subtitle for Article2!</h2>
				</hgroup>
			</header>
			<p>This is the greatest article2</p>
			<footer>
			Written by Lu
			</footer>
		</article>
	</section>
	
	<aside class="news">
		<h4>News</h4>
		I have a dog!
	</aside>
    </div>
	<footer class="footer">
		Copyright Lu 2018
	</footer>
	</div>	
	</div>
</body>
</html>
