@import url(https://fonts.googleapis.com/css?family=Roboto:300);
*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: 80px Alex brush;
	text-shadow:rgb(110, 110, 100) 3px 3px 5px;
}
h1:hover{
	color:#04B4AE;
	transition: all 0.5s ease-in-out;
}

h4{
	font: 14px Roboto;
	color: #204156;
}
header, section, footer, aside, nav, article, hgroup{
	display: block;
}
body{
  background: #A9D0F5; /* fallback for old browsers */
  background: -webkit-linear-gradient(top, #A9D0F5, #8DC26F);
  background: -moz-linear-gradient(top, #A9D0F5, #8DC26F);
  background: -o-linear-gradient(top, #A9D0F5, #8DC26F);
  background: linear-gradient(to bottom, #A9D0F5, #FFFFFF);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.home_page{
	max-width: auto;
	margin: 100px;
}
.top_header{
	margin: 50px;
	text-align: center;
}
.tab{
	font-family: "Roboto", sans-serif;
}
.contact-btn {
  float: right;
  font-family: "Roboto", sans-serif;
}
.contact-btn a {
  margin-right: 30px;
  margin-top: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
}
.contact-btn a:hover {
	color: #CEE3F6;
	font: 20px;
	border: 1px solid #CEE3F6;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.filter-btn {
  float: left;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.filter-btn a {
  margin-right: 30px;
  margin-top: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
}
.filter-btn a:hover {
	color: #04B4AE;
	font: 20px;
	border: 1px solid #CEE3F6;
	cursor: pointer;cursor: pointer;
	transition: all 0.5s ease-in-out;
}
.top_menu{
	width: 350px;
	color: #04B4AE;
	margin: auto;
	text-align: center;
	padding-bottom: 50px;
}

.top_menu li{
	list-style: none;
	display: inline-block;
	padding: 8px;
	font: 16px Roboto;
	cursor: pointer;
	width: 80px;
}
.top_menu li:hover{
	color: #43A047;
	font: 18px Roboto;
	border-top: 2px solid #43A047;
	transition: all 0.5s ease-in-out;
}
.new_div{
		display:-webkit-box;
	-webkit-box-orient:horizontal;
}
.main_section{

	-webkit-box-flex: 1;
	margin: auto; 
	text-align: center;
	
}
.the_aside{
	width: 130px;
	margin-bottom:50px;
	font: 14px Roboto;
}
.words{
	font: 14px Roboto;
}
.the_footer{
	text-align: center;
	padding: 30px;
	margin-top: 50px;
	border-top: 2px solid #04B4AE;
	color: #b3b3b3
}
.picture{
	margin-right: 10px;
	margin-bottom: 10px;
	width: 300px; 
	height: 300px;
}
.picture:hover{
	opacity: 0.4;
}

.pic {
	position: relative;
	display: inline-block;
	background-size: cover;
	width: 300px; 
	height: 300px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	overflow: hidden;
}

.pic-1{
	background-image: url("1.jpeg");
}
.pic-2{
	background-image: url("2.jpg");
}
.pic-3{
	background-image: url("3.jpg");
}
.pic-4{
	background-image: url("4.jpg");
}
.pic-5{
	background-image: url("5.jpg");
}
.pic-6{
	background-image: url("6.jpeg");
}
.pic-7{
	background-image: url("7.jpg");
}
.pic-8{
	background-image: url("8.jpg");
}
.pic-9{
	background-image: url("9.jpg");
}
.pic-10{
	background-image: url("10.jpg");
}
.pic-11{
	background-image: url("11.jpg");
}
.pic-12{
	background-image: url("12.jpg");
}
.pic-13{
	background-image: url("13.jpeg");

}
.pic-14{
	background-image: url("14.jpg");

}
.pic-15{
	background-image: url("15.jpg");

}

.text-wrapper:hover{
	display:inline-block;
}
.description{
	display:inline-block;
	position: relative;
	width: 300px; 
	height: 300px;
	opacity: 0;
}
.description:hover{
	display:inline-block;
	color: #000000;
	background-color: rgba(255, 255, 255, 0.3);
	font: 30px Alex brush;
	padding-top: 120px;
	opacity: 1;
	transition: all 0.5s ease-in-out;
}
input[type="text"] {
height: 15px;
width: 80px;
}

